$white:  #FFFFFF; 

%centrar {
    display: flex;
    justify-content: center;
  }

.inicio{
    width: 100%;
    height: 450px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .inicio_medio1, .inicio_medio2{
        width: 50%;
    }
}

.imagen_inicio{
    width: 100%;
    height: 100%;
}

.right-inicio-container{
    padding-right: 30px;
}



.Ltitle
{
    @extend %centrar;
    color: $white;
    font-size: 60px;
    padding-left: 50px;
    padding-top: 30px;
}

.container_primaria{
    @extend %centrar;
    width: 100%;
    height: 500px;
    .horario_primaria{
        text-align: center;
        width: 50%;
        color: $white;
        .title_primaria{
            font-size: 30px;
        }
        .text_primaria{
            font-size: 20px;
        }
    }
}

.img_primaria{
    padding-top: 30px;
    border-radius: 5px 5px 5px 5px;
}

.container_secundaria{
    @extend %centrar;
    color: $white;
    font-size: 20px;
}

.ul{
    color: $white;
    list-style: disc;
}

section{
    @extend %centrar;
    padding-left: 30px;
    padding-right: 30px;

    height: 430px;
}
section img{
    width: 0;
    flex-grow: 1;
    object-fit: cover;
    opacity: .8;
    transition: .5s ease;
}

section img:hover{
    cursor: pointer;
    width: 300px;
    opacity: 1;
    filter: contrast(120%);
}

.container_t2{
    @extend %centrar;
    font-size: 25px;
    color: $white;
}

.container_text_uni_uca{
    @extend %centrar;
    width: 100%;
    height: 300px;
    .text_universidad{
        text-align: center;
        width: 50%;
        color: $white;
        .title_universidad{
            padding-top: 30px;
            font-size: 30px;
        }
    }
}

.lista_temas{
    @extend %centrar;
    padding-top: 30px;
}

table{
    padding-top: 30px;
}

table tbody th{
    text-align: left;
}


#btn_r{
    padding-top: 30px;
}

.container_btn_resultados{
    @extend %centrar;
    padding-top: 30px;
}

/* galeria de imagenes */
.img_gallery
{
    max-width: 100%;
    margin-bottom: 1em;
    border-radius: 5px;
    display: block;
}

.gallery{
    columns: 5 320px;
    column-gap: 1em;
}
@media screen and (max-width: 800px){
    .inicio{
        flex-direction: column;
    }
    .inicio_medio1, .inicio_medio2 {
        width: 100%;
    }
    .imagen_inicio{
        padding-top: 50px;
        width: 100%;
        height: 70%;
    }
}