* {
    background: #000000;
    /* Elimina los estilos base del navegador */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'BabyGirl';
}



#title-container {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 30px;
}

#title {
    font-size: 100px;
    font-family: 'BabyGirl';
}

.nav-container {
    font-size: 30px;
}

.carousel-inner{
    width: 50%;
    height: 50%;
}

::-webkit-scrollbar {
    display: none;
}

/* Fuente */
@font-face {
    font-family: 'CocaCola';
    src: url('../fonts/Coca\ Cola\ ii.ttf');
}

@font-face {
    font-family: 'BabyGirl';
    src: url('../fonts/212\ Baby\ Girl.otf');
}
