* {
    background: #000000;
    /* Elimina los estilos base del navegador */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'BabyGirl';

    /* Elimina la barra de hacer scroll */
    scrollbar-width: none;
    overflow-y: scroll;
}



#title-container {
    color: white;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

#title {
    font-size: 100px;
    font-family: 'BabyGirl';
}

.nav-container {
    font-size: 30px;
}



/* Cards */

.card-container
{
    display: flex;
    justify-content: center;
    padding-top: 100px;
    padding-bottom: 100px;

}
.card
{
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 20%;
    height: 20%;
    margin-left: 20px;
    margin-right: 20px;
}

.card:hover
{
    box-shadow: 5 8px 16px 0 rgba(0,0,0,0.2);
}

.card-text
{
    justify-content: center;
    color:  white; 
    padding: 2px 16px;
}
.container_quienes_somos
{
    display: flex;
    justify-content: center;
}
#quienes_somos
{
    padding-top: 30px;
    width: 50%;
    height: 50%;
}

.Ptext
{
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-bottom: 10px;
    padding-left: 25%;
    padding-right: 25%;
    color: #FFFFFF;
    font-size: 20px;
    text-align: center;
}
.container_btn_equipo
{
    display: flex;
    justify-content: center;
}
/*    BTN     */
.btn_estilo
{
    background-color: #ffffff;
    border: none;
    color: #2600ff;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 15px;
}

.btn_estilo:hover
{
    background-color: #2600ff;
    color: #FFFFFF;
    transition: .5s;      

}





/* Fuente */
@font-face {
    font-family: 'CocaCola';
    src: url('../fonts/Coca\ Cola\ ii.ttf');
}

@font-face {
    font-family: 'BabyGirl';
    src: url('../fonts/212\ Baby\ Girl.otf');
}

::-webkit-scrollbar {
    display: none;
}
    